---
import MainLayout from "../layouts/MainLayout.astro"
import Navigation from "../components/navigation.jsx"
import Hero from "../components/hero.astro"
import Projects from "../components/projects.jsx"
import Skills from "../components/skills.astro"
import About from "../components/about.astro"
import Contact from "../components/contact.astro"
import Footer from "../components/footer.astro"
---

<MainLayout>

	<header>
	  <Navigation client:load />
	  <Hero />
	</header>

	<main>
	  <Projects client:load />
	  <Skills />
	  <About />
	  <Contact />
	</main>

	<Footer />
	
</MainLayout>