---
import { Image } from 'astro:assets';
import LinkedIn from '../assets/linkedin.svg';
import GitHub from '../assets/github.svg';
import Email from '../assets/email.svg';
---

<footer>

<div class="footer-container bg-black text-white p-4 flex flex-col justify-start items-center h-42 mt-10">
    <p class="text-md sm:text-lg md:text-xl font-semibold lg:text-2xl text-center">&copy; Thiago Marcial 2026. All rights reserved.</p>
    
    <div class="footer-icons-container flex flex-row gap-4 md:gap-8 justify-center items-center mt-8">

      <a href="mailto:thiagomarcial1109@gmail.com" target="_blank">
        <Image src={Email} alt="Email" class="footer-icon w-10 h-10 sm:w-12 sm:h-12 md:w-14 md:h-14" />
      </a>

      <a href="https://github.com/ThiagoDev1196" target="_blank">
        <Image src={GitHub} alt="GitHub" class="footer-icon w-10 h-10 sm:w-12 sm:h-12 md:w-14 md:h-14" />
      </a>

      <a href="https://www.linkedin.com/in/thiago-david-marcial-nu%C3%B1ez-5a9128333/" target="_blank">
        <Image src={LinkedIn} alt="LinkedIn" class="footer-icon w-10 h-10 sm:w-12 sm:h-12 md:w-14 md:h-14" />
      </a>

    </div>
</div>

</footer>


<style>
    .footer-icon {
        filter: invert(1);
    }
</style>