---
import { Image } from "astro:assets";
import pfp from "../assets/profilePhoto.webp";
---
<section id="home" class="w-full bg-white/90">
  <div
  class="hero-container max-w-425 flex flex-col justify-center items-center  sm:flex-row-reverse sm:pt-5 h-screen w-full sm:p-6 md:justify-around  m-auto"
>
  <div
    class="hero-img-container p-8 max-w-80 sm:max-w-90 md:max-w-110 lg:max-w-120 sm:flex sm:justify-center sm:items-center"
  >
    <Image
      class="mt-10 sm:mt-0 h-65 sm:h-full sm:w-full aspect-square border-violet-600 border-4 rounded-full object-cover"
      alt="profile picture"
      src={pfp}
    />
  </div>

  <div
    class="hero-text-container sm:p-8 text-white flex flex-col justify-center items-center sm:items-start sm:space-y-1 lg:space-y-5"
  >
    <p class="text-gray-800 sm:text-lg md:text-2xl lg:text-3xl">
      Hi, I'm Thiago and I am a
    </p>
    <h1
      class="text-4xl text-center sm:text-start sm:text-5xl md:text-6xl lg:text-7xl font-bold text-violet-600"
    >
      Front-end developer
    </h1>

    <div class="hero-button-container pt-4 space-y-2 sm:space-x-2 sm:text-lg">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScEKNIKGSakZFNyATlYOUuhkeFnddQnfpiO-zkykfo1DWC45w/viewform?usp=sharing&ouid=101589160111500884461"
        target="_blank"
        class="bg-white block lg:inline-block text-center text-black px-4 py-2 rounded-lg border-2 border-white cursor-pointer md:text-2xl lg:text-3xl hover:bg-gray-300 transition ease-in"
        >Contact me</a
      >
      <a
        href="/Portfolio/Thiago_Marcial-CV.pdf"
        download="CV_Thiago_Marcial.pdf"
        target="_blank"
        class="bg-black block lg:inline-block text-center px-4 py-2 rounded-lg border-2 border-white cursor-pointer md:text-2xl lg:text-3xl hover:bg-gray-900 transition ease-in"
        >Download CV</a
      >
    </div>
  </div>
</div>
</section>

